<a href="https://colab.research.google.com/github/MarcosWBeltrami/Project_World_Cup/blob/main/Project_World_Cup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project World Cup
### The idea is to conduct a simulation of the World Cup based on the FIFA ranking and taking into account the motivation of the selection.

## 1- Imports of selections and their ranking

In [132]:
import pandas as pd
import random

df_selections = pd.read_csv('https://raw.githubusercontent.com/digitalinnovationone/live-coding-evitando-o-7x1-com-python-e-sql/main/data.csv')
df_selections.head()

,A,B,C,D,E,F,G,H
0,CAT|1442.0,EUA|1635.0,ARG|1770.7,AUS|1483.7,ALE|1659.0,BEL|1821.9,BRA|1837.6,COR|1526.0
1,EQU|1463.7,ING|1737.5,ARA|1435.7,DIN|1665.5,COS|1500.1,CAN|1473.8,CAM|1485.0,GAN|1393.5
2,HOL|1679.4,IRA|1558.6,MEX|1649.6,FRA|1764.9,ESP|1716.9,CRO|1632.2,SUI|1621.4,POR|1678.7
3,SEN|1584.6,GAL|1582.1,POL|1546.2,TUN|1507.9,JAP|1554.7,MAR|1558.4,SER|1549.5,URU|1641.0

## 2- Initial treatments

In [133]:
class Team:
  BestScore = 1837.6


  def __init__(self, cellData):
    teamData = cellData.split('|')
    self.name = teamData[0]
    self.score = float(teamData[1])
    

  def motivate(self):
    self.lastMotivation = random.uniform(70,(self.score * 100) / Team.BestScore)
    return self.lastMotivation


  def result(team1, team2):
    valueTeam1 = team1.lastMotivation
    valueTeam2 = team2.lastMotivation
    result1 = random.randint(1,4)
    result2 = random.randint(0,3)
    if valueTeam1 > valueTeam2:
      while result1 <= result2:
        result2 = random.randint(0,3)

      print(f'{team1.name} {result1} X {result2} {team2.name}')
    else:
      while result1 <= result2:
        result2 = random.randint(0,3)

      print(f'{team2.name} {result1} X  {result2} {team1.name}')

## 3- Group phrase

In [134]:
bestTeamsByGroup = {}

for label, content in df_selections.items():
  team1 = Team(content[0])
  team2 = Team(content[1])
  team3 = Team(content[2])
  team4 = Team(content[3])
  bestTeamsByGroup[label] = sorted([ team1, team2, team3, team4 ], key=Team.motivate, reverse=True)


for group, motivatedTeam in bestTeamsByGroup.items():
  print(f'Group {group} :', end="")
  for team in motivatedTeam:
    print(team.name, team.lastMotivation, " ",end="")
  print()

Group A :HOL 85.29136782901101  SEN 83.86242992743414  CAT 75.57320758089449  EQU 72.5681573707009
Group B :EUA 84.10810330334532  ING 81.0852067777424  GAL 74.56350346440158  IRA 73.51073938825954
Group C :ARG 92.20089011985475  ARA 73.18124759700036  POL 71.32214954917382  MEX 71.13349893995809
Group D :FRA 84.58456659773142  TUN 80.83019166829962  AUS 76.84073579878127  DIN 74.21885574025721
Group E :JAP 82.29807824421896  ESP 80.89049634495447  ALE 80.5671843760072  COS 71.19529814829728
Group F :BEL 89.9062214478071  MAR 82.54623792547163  CAN 77.89482530718853  CRO 71.08406994682382
Group G :SUI 83.63052716103365  BRA 76.96847356512885  CAM 76.06847645215038  SER 72.98155148012391
Group H :GAN 74.7800358407404  COR 73.64969735563263  URU 72.36315298344294  POR 72.3097422639019

## 4 - Round of 16

In [135]:
team1A = bestTeamsByGroup['A'][0]
team2A = bestTeamsByGroup['A'][1]
team1B = bestTeamsByGroup['B'][0]
team2B = bestTeamsByGroup['B'][1]
team1C = bestTeamsByGroup['C'][0]
team2C = bestTeamsByGroup['C'][1]
team1D = bestTeamsByGroup['D'][0]
team2D = bestTeamsByGroup['D'][1]
team1E = bestTeamsByGroup['E'][0]
team2E = bestTeamsByGroup['E'][1]
team1F = bestTeamsByGroup['F'][0]
team2F = bestTeamsByGroup['F'][1]
team1G = bestTeamsByGroup['G'][0]
team2G = bestTeamsByGroup['G'][1]
team1H = bestTeamsByGroup['H'][0]
team2H = bestTeamsByGroup['H'][1]


quarter1 = team1A if team1A.motivate() > team2B.motivate() else team2B
quarter2 = team1C if team1C.motivate() > team2D.motivate() else team2D
quarter3 = team1E if team1E.motivate() > team2F.motivate() else team2F
quarter4 = team1G if team1G.motivate() > team2H.motivate() else team2H
quarter5 = team1B if team1B.motivate() > team2A.motivate() else team2A
quarter6 = team1D if team1D.motivate() > team2C.motivate() else team2C
quarter7 = team1F if team1F.motivate() > team2E.motivate() else team2E
quarter8 = team1H if team1H.motivate() > team2G.motivate() else team2G


Team.result(team1A, team2B)
print(f'{team1A.name} ({team1A.lastMotivation:.2f}) x {team2B.name} ({team2B.lastMotivation:.2f})\n')

Team.result(team1C, team2D)
print(f'{team1C.name} ({team1C.lastMotivation:.2f}) x {team2D.name} ({team2D.lastMotivation:.2f})\n')

Team.result(team1E, team2F)
print(f'{team1E.name} ({team1E.lastMotivation:.2f}) x {team2F.name} ({team2F.lastMotivation:.2f})\n')

Team.result(team1G, team2H)
print(f'{team1G.name} ({team1G.lastMotivation:.2f}) x {team2H.name} ({team2H.lastMotivation:.2f})\n')

Team.result(team1B, team2A)
print(f'{team1B.name} ({team1B.lastMotivation:.2f}) x {team2A.name} ({team2A.lastMotivation:.2f})\n')

Team.result(team1D, team2C)
print(f'{team1D.name} ({team1D.lastMotivation:.2f}) x {team2C.name} ({team2C.lastMotivation:.2f})\n')

Team.result(team1F, team2E)
print(f'{team1F.name} ({team1F.lastMotivation:.2f}) x {team2E.name} ({team2E.lastMotivation:.2f})\n')

Team.result(team1H, team2G)
print(f'{team1H.name} ({team1H.lastMotivation:.2f}) x {team2G.name} ({team2G.lastMotivation:.2f})\n')

HOL 3 X 0 ING
HOL (79.98) x ING (73.76)

ARG 1 X 0 TUN
ARG (90.86) x TUN (80.36)

JAP 1 X 0 MAR
JAP (83.59) x MAR (76.78)

SUI 1 X 0 COR
SUI (85.19) x COR (78.03)

EUA 2 X 1 SEN
EUA (83.63) x SEN (70.99)

ARA 1 X  0 FRA
FRA (71.16) x ARA (74.29)

BEL 4 X 2 ESP
BEL (95.33) x ESP (84.64)

BRA 4 X  0 GAN
GAN (74.14) x BRA (76.56)

## 5 - Quarterfinals

In [136]:
semi1 = quarter1 if quarter1.motivate() > quarter2.motivate() else quarter2
semi2 = quarter3 if quarter3.motivate() > quarter4.motivate() else quarter4
semi3 = quarter5 if quarter5.motivate() > quarter6.motivate() else quarter6
semi4 = quarter7 if quarter7.motivate() > quarter8.motivate() else quarter8


Team.result(quarter1, quarter2)
print(f'{quarter1.name} ({quarter1.lastMotivation:.2f}) x {quarter2.name} ({quarter2.lastMotivation:.2f})\n')

Team.result(quarter3, quarter4)
print(f'{quarter3.name} ({quarter3.lastMotivation:.2f}) x {quarter4.name} ({quarter4.lastMotivation:.2f})\n')

Team.result(quarter5, quarter6)
print(f'{quarter5.name} ({quarter5.lastMotivation:.2f}) x {quarter6.name} ({quarter6.lastMotivation:.2f})\n')

Team.result(quarter7, quarter8)
print(f'{quarter7.name} ({quarter7.lastMotivation:.2f}) x {quarter8.name} ({quarter8.lastMotivation:.2f})\n')

ARG 4 X  0 HOL
HOL (90.47) x ARG (93.33)

JAP 4 X 3 SUI
JAP (83.59) x SUI (80.57)

EUA 3 X 2 ARA
EUA (88.95) x ARA (77.14)

BRA 3 X  0 BEL
BEL (76.20) x BRA (95.40)

## 6- Semifinals

In [137]:
final1 = semi1 if semi1.motivate() > semi2.motivate() else semi2
third1 = semi1 if semi1.lastMotivation < semi2.lastMotivation else semi2

final2 = semi3 if semi3.motivate() > semi4.motivate() else semi4
third2 = semi3 if semi3.lastMotivation < semi4.lastMotivation else semi4


Team.result(semi1, semi2) 
print(f'{semi1.name} ({semi1.lastMotivation:.2f}) x {semi2.name} ({semi2.lastMotivation:.2f})\n')

Team.result(semi3, semi4) 
print(f'{semi3.name} ({semi3.lastMotivation:.2f}) x {semi4.name} ({semi4.lastMotivation:.2f})')

ARG 3 X 2 JAP
ARG (90.24) x JAP (73.81)

BRA 2 X  1 EUA
EUA (75.75) x BRA (89.35)

## 8 - Champions

In [138]:
finalPlace1 = final1 if final1.motivate() > final2.motivate() else final2
finalPlace2 = final1 if final1.lastMotivation < final2.lastMotivation else final2
thirdPlace1 = third1 if third1.motivate() > third2.motivate() else third2
thirdPlace2 = third1 if third1.lastMotivation < third2.lastMotivation else third2


Team.result(final1, final2) 
if finalPlace1.lastMotivation > finalPlace2.lastMotivation:
  print(f'1º: {finalPlace1.name} ({finalPlace1.lastMotivation:.2f})')
  print(f'2º: {finalPlace2.name} ({finalPlace2.lastMotivation:.2f})\n')
else:
  print(f'1º: {finalPlace2.name} ({finalPlace2.lastMotivation:.2f})')
  print(f'2º: {finalPlace1.name} ({finalPlace1.lastMotivation:.2f})\n')


Team.result(third1, third2) 
if thirdPlace1.lastMotivation > thirdPlace2.lastMotivation:
  print(f'3º: {thirdPlace1.name} ({thirdPlace1.lastMotivation:.2f})')
  print(f'4º: {thirdPlace2.name} ({thirdPlace2.lastMotivation:.2f})\n')
else:
  print(f'3º: {thirdPlace2.name} ({thirdPlace2.lastMotivation:.2f})')
  print(f'4º: {thirdPlace1.name} ({thirdPlace1.lastMotivation:.2f})\n')

BRA 4 X  1 ARG
1º: BRA (83.48)
2º: ARG (80.15)

EUA 4 X  0 JAP
3º: EUA (88.44)
4º: JAP (70.76)