<a href="https://colab.research.google.com/github/MarcosWBeltrami/Project_World_Cup/blob/main/Project_World_Cup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project World Cup
### The idea is to conduct a simulation of the World Cup based on the FIFA ranking and taking into account the motivation of the selection.

## 1- Imports of selections and their ranking

In [796]:
import pandas as pd
import random

df_selections = pd.read_csv('https://raw.githubusercontent.com/digitalinnovationone/live-coding-evitando-o-7x1-com-python-e-sql/main/data.csv')
df_selections.head()

,A,B,C,D,E,F,G,H
0,CAT|1442.0,EUA|1635.0,ARG|1770.7,AUS|1483.7,ALE|1659.0,BEL|1821.9,BRA|1837.6,COR|1526.0
1,EQU|1463.7,ING|1737.5,ARA|1435.7,DIN|1665.5,COS|1500.1,CAN|1473.8,CAM|1485.0,GAN|1393.5
2,HOL|1679.4,IRA|1558.6,MEX|1649.6,FRA|1764.9,ESP|1716.9,CRO|1632.2,SUI|1621.4,POR|1678.7
3,SEN|1584.6,GAL|1582.1,POL|1546.2,TUN|1507.9,JAP|1554.7,MAR|1558.4,SER|1549.5,URU|1641.0

## 2- Initial treatments

In [797]:
class Team:
  BestScore = 1837.6

  def __init__(self, cellData):
    teamData = cellData.split('|')
    self.name = teamData[0]
    self.score = float(teamData[1])
    
  def motivate(self):
    self.lastMotivation = random.uniform(70,(self.score * 100) / Team.BestScore)
    return self.lastMotivation

  def result(team1, team2):
    resultFinal = 0
    result1 = random.randint(1,4)
    result2 = random.randint(0,3)
    if team1 > team2:
      quarter1 = team1 
      while result1 <= result2:
        result2 = random.randint(0,3)
      
      print(f'Resultado: {result1} X {result2}')
    else:
      quarter1 = team2
      while result1 <= result2:
        result2 = random.randint(0,3)

      print(f'Resultado: {result2} X  {result1}')

## 3- Group phrase

In [798]:
bestTeamsByGroup = {}

for label, content in df_selections.items():
  team1 = Team(content[0])
  team2 = Team(content[1])
  team3 = Team(content[2])
  team4 = Team(content[3])
  bestTeamsByGroup[label] = sorted([ team1, team2, team3, team4 ], key=Team.motivate, reverse=True)


for group, motivatedTeam in bestTeamsByGroup.items():
  print(f'Group {group} :', end="")
  for team in motivatedTeam:
    print(team.name, team.lastMotivation, " ",end="")
  print()

Group A :EQU 78.89178063143572  CAT 77.47657060020752  HOL 74.81817093970628  SEN 72.39746446405059
Group B :EUA 86.46235624323285  GAL 80.77756711964757  ING 74.42201916515116  IRA 71.97253445364697
Group C :ARG 78.44891453256388  POL 77.98732901549013  MEX 72.93982439307592  ARA 71.17032354319635
Group D :DIN 80.56266086051326  TUN 80.20343724746849  AUS 78.10666292475399  FRA 76.38662643411455
Group E :ALE 86.35417851976061  ESP 83.36541436459827  COS 78.32940960747632  JAP 73.92990160001953
Group F :BEL 81.54320366353195  CRO 74.6353609739628  MAR 73.40725723767684  CAN 70.13542432860564
Group G :BRA 74.84701989726814  SUI 74.02628946791609  SER 73.14017953440828  CAM 72.4016635485606
Group H :POR 78.38763666322787  COR 77.32808512948274  URU 75.05138815981199  GAN 72.81102597213287

## 4 - Round of 16

In [799]:
team1A = bestTeamsByGroup['A'][0]
team2A = bestTeamsByGroup['A'][1]
team1B = bestTeamsByGroup['B'][0]
team2B = bestTeamsByGroup['B'][1]
team1C = bestTeamsByGroup['C'][0]
team2C = bestTeamsByGroup['C'][1]
team1D = bestTeamsByGroup['D'][0]
team2D = bestTeamsByGroup['D'][1]
team1E = bestTeamsByGroup['E'][0]
team2E = bestTeamsByGroup['E'][1]
team1F = bestTeamsByGroup['F'][0]
team2F = bestTeamsByGroup['F'][1]
team1G = bestTeamsByGroup['G'][0]
team2G = bestTeamsByGroup['G'][1]
team1H = bestTeamsByGroup['H'][0]
team2H = bestTeamsByGroup['H'][1]


quarter1 = team1A if team1A.motivate() > team2B.motivate() else team2B
quarter2 = team1C if team1C.motivate() > team2D.motivate() else team2D
quarter3 = team1E if team1E.motivate() > team2F.motivate() else team2F
quarter4 = team1G if team1G.motivate() > team2H.motivate() else team2H
quarter5 = team1B if team1B.motivate() > team2A.motivate() else team2A
quarter6 = team1D if team1D.motivate() > team2C.motivate() else team2C
quarter7 = team1F if team1F.motivate() > team2E.motivate() else team2E
quarter8 = team1H if team1H.motivate() > team2G.motivate() else team2G


Team.result(team1A.lastMotivation, team2B.lastMotivation)
print(f'{team1A.name} ({team1A.lastMotivation:.2f}) x {team2B.name} ({team2B.lastMotivation:.2f})\n')

Team.result(team1C.lastMotivation, team2D.lastMotivation)
print(f'{team1C.name} ({team1C.lastMotivation:.2f}) x {team2D.name} ({team2D.lastMotivation:.2f})\n')

Team.result(team1E.lastMotivation, team2F.lastMotivation)
print(f'{team1E.name} ({team1E.lastMotivation:.2f}) x {team2F.name} ({team2F.lastMotivation:.2f})\n')

Team.result(team1G.lastMotivation, team2H.lastMotivation)
print(f'{team1G.name} ({team1G.lastMotivation:.2f}) x {team2H.name} ({team2H.lastMotivation:.2f})\n')

Team.result(team1B.lastMotivation, team2A.lastMotivation)
print(f'{team1B.name} ({team1B.lastMotivation:.2f}) x {team2A.name} ({team2A.lastMotivation:.2f})\n')

Team.result(team1D.lastMotivation, team2C.lastMotivation)
print(f'{team1D.name} ({team1D.lastMotivation:.2f}) x {team2C.name} ({team2C.lastMotivation:.2f})\n')

Team.result(team1F.lastMotivation, team2E.lastMotivation)
print(f'{team1F.name} ({team1F.lastMotivation:.2f}) x {team2E.name} ({team2E.lastMotivation:.2f})\n')

Team.result(team1H.lastMotivation, team2G.lastMotivation)
print(f'{team1H.name} ({team1H.lastMotivation:.2f}) x {team2G.name} ({team2G.lastMotivation:.2f})\n')

Resultado: 1 X 0
EQU (76.30) x GAL (70.11)

Resultado: 3 X 1
ARG (90.91) x TUN (71.09)

Resultado: 3 X 0
ALE (86.19) x CRO (77.22)

Resultado: 4 X 1
BRA (87.59) x COR (70.24)

Resultado: 4 X 3
EUA (73.74) x CAT (72.10)

Resultado: 3 X  4
DIN (73.43) x POL (81.30)

Resultado: 4 X 0
BEL (94.31) x ESP (75.99)

Resultado: 0 X  1
POR (83.57) x SUI (86.63)

## 5 - Quarterfinals

In [800]:
semi1 = quarter1 if quarter1.motivate() > quarter2.motivate() else quarter2
semi2 = quarter3 if quarter3.motivate() > quarter4.motivate() else quarter4
semi3 = quarter5 if quarter5.motivate() > quarter6.motivate() else quarter6
semi4 = quarter7 if quarter7.motivate() > quarter8.motivate() else quarter8


Team.result(quarter1.lastMotivation, quarter2.lastMotivation)
print(f'{quarter1.name} ({quarter1.lastMotivation:.2f}) x {quarter2.name} ({quarter2.lastMotivation:.2f})\n')

Team.result(quarter3.lastMotivation, quarter4.lastMotivation)
print(f'{quarter3.name} ({quarter3.lastMotivation:.2f}) x {quarter4.name} ({quarter4.lastMotivation:.2f})\n')

Team.result(quarter5.lastMotivation, quarter6.lastMotivation)
print(f'{quarter5.name} ({quarter5.lastMotivation:.2f}) x {quarter6.name} ({quarter6.lastMotivation:.2f})\n')

Team.result(quarter7.lastMotivation, quarter8.lastMotivation)
print(f'{quarter7.name} ({quarter7.lastMotivation:.2f}) x {quarter8.name} ({quarter8.lastMotivation:.2f})\n')

Resultado: 0 X  1
EQU (73.05) x ARG (84.57)

Resultado: 0 X  3
ALE (85.18) x BRA (88.69)

Resultado: 1 X  3
EUA (70.80) x POL (72.57)

Resultado: 2 X  3
BEL (70.24) x SUI (87.91)

## 6- Semifinals

In [801]:
final1 = semi1 if semi1.motivate() > semi2.motivate() else semi2
third1 = semi1 if semi1.lastMotivation < semi2.lastMotivation else semi2

final2 = None
third2 = None
if semi3.motivate() > semi4.motivate():
  final2 = semi3
  third2 = semi4
else:
  final2 = semi4
  third2 = semi3

Team.result(semi1.lastMotivation, semi2.lastMotivation) 
print(f'{semi1.name} ({semi1.lastMotivation:.2f}) x {semi2.name} ({semi2.lastMotivation:.2f})\n')

Team.result(semi3.lastMotivation, semi4.lastMotivation) 
print(f'{semi3.name} ({semi3.lastMotivation:.2f}) x {semi4.name} ({semi4.lastMotivation:.2f})')

Resultado: 0 X  4
ARG (78.66) x BRA (82.65)

Resultado: 3 X 0
POL (80.57) x SUI (71.27)

## 8 - Champions

In [804]:
finalPlace1 = final1 if final1.motivate() > final2.motivate() else final2
finalPlace2 = final1 if final1.lastMotivation < final2.lastMotivation else final2
thirdPlace1 = third1 if third1.motivate() > third2.motivate() else third2
thirdPlace2 = third1 if third1.lastMotivation < third2.lastMotivation else third2


Team.result(final1.lastMotivation, final2.lastMotivation) 
if finalPlace1.lastMotivation > finalPlace2.lastMotivation:
  print(f'1º: {finalPlace1.name} ({finalPlace1.lastMotivation:.2f})')
  print(f'2º: {finalPlace2.name} ({finalPlace2.lastMotivation:.2f})\n')
else:
  print(f'1º: {finalPlace2.name} ({finalPlace2.lastMotivation:.2f})')
  print(f'2º: {finalPlace1.name} ({finalPlace1.lastMotivation:.2f})\n')


Team.result(third1.lastMotivation, third2.lastMotivation) 
if thirdPlace1.lastMotivation > thirdPlace2.lastMotivation:
  print(f'3º: {thirdPlace1.name} ({thirdPlace1.lastMotivation:.2f})')
  print(f'4º: {thirdPlace2.name} ({thirdPlace2.lastMotivation:.2f})\n')
else:
  print(f'3º: {thirdPlace2.name} ({thirdPlace2.lastMotivation:.2f})')
  print(f'4º: {thirdPlace1.name} ({thirdPlace1.lastMotivation:.2f})\n')

Resultado: 2 X 1
1º: BRA (80.24)
2º: POL (71.66)

Resultado: 1 X  2
3º: SUI (82.35)
4º: ARG (70.32)